<div class="container">
    <h2 class="subhead">Backlog</h2>
</div>


<ul class="list">

    <li class="list-tile list-tile__with-secondary" ui-sref-active="active">
        <a class="list-tile-primary" href="#">Task 1</a>
        <p class="list-tile-secondary">Project: Something</p>
    </li>
    <li class="list-tile list-tile__with-secondary" ui-sref-active="active">
        <a class="list-tile-primary" href="#">Task 2</a>
        <p class="list-tile-secondary">Project: Something</p>
    </li>

</ul>
